.section {
    margin-top: 100px;
    display: flex;
    min-height: 80vh;
}
.gallery .h2text {
    display: flex;
    margin-bottom: 50px;

}
.gallery h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 100px;
    font-family: NewYork, serif;
}

.grid-container {
    margin-top: 100px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            gap: 20px;
            padding: 20px;
        }
        .grid-container img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }