.section {
    margin-top: 100px;
    display: flex;
    min-height: 80vh;
}
.gallery .h2text {
    display: flex;
    margin-bottom: 50px;

}
.gallery h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 100px;
    font-family: NewYork, serif;
}

.grid-container {
    margin-top: 100px;
            display: grid;
                grid-template-columns: repeat(4, 2fr);
                gap: 10px;
            padding: 10px;
        }
        .grid-container img {
            width: 350px;
            height: 200px;
            border-radius: 5px;
        }
.grid-container img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
